@model ShopThoiTrangNam.Models.Category

@{
    ViewData["Title"] = "Delete";
}

<h1>Xóa danh mục</h1>
<h3>Bạn có chắc muốn xóa danh mục này?</h3>

<dl class="row">
    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.CategoryName)</dt>
    <dd class="col-sm-10">@Html.DisplayFor(model => model.CategoryName)</dd>

    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Description)</dt>
    <dd class="col-sm-10">@Html.DisplayFor(model => model.Description)</dd>

    <dt class="col-sm-2">Danh mục cha</dt>
    <dd class="col-sm-10">@Model.Parent?.CategoryName ?? "Không có"</dd>
</dl>

<form asp-action="Delete" method="post" onsubmit="return confirm('Bạn có chắc muốn xóa danh mục này?');">
    <input type="hidden" asp-for="CategoryId" />
    <input type="submit" value="Xóa" class="btn btn-danger my-1" />
    <a asp-action="Index" class="btn btn-secondary mb-1">Quay về danh sách</a>
</form>
